@using ScratchWorld.Models
@model IEnumerable<Region> 


@foreach(var region in Model)
{
    <ul class="list-group">
        <li class="list-group-item">@region.Name</li>
        <li class="list-group-item">@region.UkrName</li>
        @*<li class="list-group-item">@region.Coordinates</li>*@
    </ul>
}