﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScratchWorld</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScratchWorld.styles.css" asp-append-version="true" />
    <style>
        .navbar {
            background-color: #5BA199;
            width: 100%;
            margin: 0;
        }

            .navbar a.nav-link, .navbar .navbar-brand {
                color: #E5E3E4;
                text-decoration: none;
                transition: color 0.3s;
            }

                .navbar a.nav-link:hover, .navbar .navbar-brand:hover {
                    color: #DDBEAA;
                }

        .navcontainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
            width: 100%;
            height: 4%;
        }

        .navbar-brand {
            margin-right: auto;
        }

        .nav-links {
            display: flex;
            gap: 15px;
            margin-left: auto;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="navcontainer">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ScratchWorld</a>

                <div class="nav-links">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">About Product</a>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        if (await UserManager.IsInRoleAsync(user, "Admin"))
                        {
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        }
                        
                        <a class="nav-link" asp-area="" asp-controller="Map" asp-action="Index">My regions</a>
                        <a class="nav-link" asp-area="" asp-controller="Landmark" asp-action="Index">My landmarks</a>
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">User</a>
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Registration</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    @if (ViewBag.HideFooter == null)
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - ScratchWorld - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
