@using ScratchWorld.ViewModels
@model UserEditViewModel

<head>
    <style>
        body {
            background: #f7f8fa;
        }

        .card {
            margin-bottom: 20px;
            margin-top: 30px;
            -webkit-box-shadow: 0 2px 3px #eaedf2;
            box-shadow: 0 2px 3px #eaedf2;
            margin-left: auto;
            margin-right: auto;
        }

        .AddData {
            width: 100%;
            max-width: 370px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
                margin-top: 10px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

        .btn-block {
            margin-top: 20px;
            display: block;
            width: 100%;
        }
    </style>
</head>


<form asp-action="EditUser" class="AddData align-items-center">
    <div class="card p-4 align-items-center text-center">
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid avatar-xxl rounded-circle mb-2" alt="" width="100" height="100">
        <h3 class=" mb-1">Change login and password</h3>
    @if (ViewBag.Error != null)
    {
            <div class="alert alert-danger  mb-1" role="alert">
            @ViewBag.Error
        </div>
    }
        <input asp-for="Email" type="email" class="form-control my-1" placeholder="Email address" required>
        <input asp-for="OldPassword" type="password" class="form-control mb-1" placeholder="Old Password" required>
        <input asp-for="Password" type="password" class="form-control mb-1" placeholder="New Password" required>
        <input asp-for="ConfirmPassword" type="password" class="form-control mb-1" placeholder="Confirm password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
    </div>
</form>
